<style>
    /* .btn-src {
        width: 10%;
        height: 40px;
        line-height: 40px;
        background-color: #00a0e9;
        border: 1px solid #FFF;
        display: inline-block;
        color: #fff;
        margin-right: 5px;
    } */

    .button {
        display: inline-block;
        margin-right: 5px;
        text-decoration: none;
        user-select: none;
        position: relative;
        width: 100px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 20px;
        border: none;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        background-color: #ff8300;
        box-shadow: 0 3px 9px 0 rgba(255, 131, 0, 0.35);
        overflow: hidden;
    }

    .button:hover {
        transform: translateY(-2px);
        box-shadow: 0 5px 13px 0 rgba(255, 131, 0, 0.59);
    }

    .button:active {
        box-shadow: 0 3px 9px 0 rgba(255, 131, 0, 0.35);
        color: #ffca8c;
        background-color: #f07b00;
        transform: translateY(0);
    }
</style>
<div onkeydown="Keytest(event)" style="width: 100%; max-width: 1000px; margin: 0 auto;">
    <div style="overflow:hidden; margin: 0 auto; width:90%;padding:10px">
        <input type="text" id="link" style="border:1px solid #00a0e9; width:100%; line-height:30px; padding:6px; display:block;"
            placeholder="输入视频地址后选择播放资源。 VIP视频支持爱奇艺，芒果TV，优酷，腾讯，乐视等" />
    </div>
    <div style="overflow:hidden; margin: 0 auto; width:90%;padding:10px;">
        <input class="button" type="submit" value="资源-1" onclick="loadVedio('http://www.wmxz.wang/video.php?url=')" />
        <input class="button" type="submit" value="资源-2" onclick="loadVedio('http://mt2t.com/yun?url=')" />
        <input class="button" type="submit" value="资源-3" onclick="loadVedio('http://vip.sdyhy.cn/ckflv/?url=')" />
        <input class="button" type="submit" value="资源-4" onclick="loadVedio('http://player.gakui.top/?url=')" />
        <input class="button" type="submit" value="资源-5" onclick="loadVedio('http://www.vipjiexi.com/yun.php?url=');" />
        <input class="button" type="submit" value="资源-6" onclick="loadVedio('http://www.xiguaso.com/api/index.php?url=');" />
    </div>
    <div style="overflow:hidden; margin: 0 auto; width:90%;">
        <iframe id="video_iframe" src="" style="height:500px;width:100%;frameborder:0;marginheight:0px;marginwidth:0px;background:#000000;border:2px solid #00a0e9">
        </iframe>
    </div>
    <!-- <div style="width:90%; line-height:30px; margin: 10px auto;text-align: center;background-color:#63b3ff; border:5px solid #FFF; color:#fff;">在上方输入视频地址后选择播放资源。 VIP视频支持爱奇艺，芒果TV，优酷，腾讯，乐视等</div> -->
</div>

<script>
    var num = 0;
    var api = {
        "jiekou1": "http://www.wmxz.wang/video.php?url=",
    }

    var linkNode = document.getElementById('link');
    var frameNode = document.getElementById("video_iframe");

    function Clo() {
        document.getElementById("video_iframe").src =
            "http://ww3.sinaimg.cn/large/006Bo8Q9jw1fadd8rydyrj30m80dwgv9.jpg";
    }

    function Tip() {
        alert("提交视频地址后，按AlT+数字1-6选择解析接口")
    }

    function Keytest(event) {
        if (event.keyCode == 13) {
            alert("提交视频地址后，按Alt+数字1-6选择解析接口")
        };
        if (event.keyCode == 18) {
            num = 1
        };
        if (num == 1) {
            if (event.keyCode == 49 | event.keyCode == 97) {
                loadVedio('http://www.wmxz.wang/video.php?url=');
            }

            if (event.keyCode == 50 | event.keyCode == 98) {
                loadVedio('http://mt2t.com/yun?url=');
            }

            if (event.keyCode == 51 | event.keyCode == 99) {
                loadVedio('http://vip.sdyhy.cn/ckflv/?url=');
            }

            if (event.keyCode == 52 | event.keyCode == 100) {
                loadVedio('http://player.gakui.top/?url=');
            }

            if (event.keyCode == 53 | event.keyCode == 101) {
                loadVedio('http://www.vipjiexi.com/yun.php?url=');
            }

            if (event.keyCode == 54 | event.keyCode == 102) {
                loadVedio('http://www.xiguaso.com/api/index.php?url=');
            }
        }

    }

    function loadVedio(urlPrefix) {
        if (!linkNode.value) {
            alert("请先输入视频地址！");
            return;
        }
        frameNode.src = urlPrefix + linkNode.value;
        num = 0;
    }
</script>